 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Segoe UI', sans-serif;
      line-height: 1.6;
      background: #FAFAFA;
      color: #1E293B;
    }

    /* navigation */

    header {
      background-color: #FAFAFA;
      padding: 20px 40px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      font-size: 24px;
      color: #1E293B;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 20px;
    }

    .nav-links a {
      text-decoration: none;
      color: #6B7280;
      font-weight: bold;
      transition: color 0.3s;
    }

    .nav-links a:hover {
      color: #3B82F6;
      border-bottom: #10B981 2px solid;
    }
/* nav ends */

     /* intro section */
    .intro-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 40px;
      background-color: #393e46;
      flex-wrap: wrap;
    }

    .intro-text {
      max-width: 50%;
    }

    .intro-text h2 {
      font-size: 36px;
      margin-bottom: 15px;
      color: #ffdd59;
    }

    .intro-text p {
      font-size: 18px;
      color: #dddddd;
    }

    .intro-img img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
 }

    #skills{
         display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 40px;
      background-color: #393e46;
      flex-wrap: wrap;
    }

    #skills ul{
     list-style: none;
     padding: 0;
     max-width: 600px;
     margin: 0 auto;
    }